<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Addres Book</title>
  </head>
  <body>
    <h3>@Model.GetfirstN() @Model.GetlastN()</h2>
    <ul>
      <li>First: @Model.GetfirstN()</li>
      <li>Last: @Model.GetlastN()</li>
      <li>Phone: @Model.GetPhone()</li>
      <li>Address: @Model.Getaddress()</li>
    </ul>
    <h3><a href="/add">Add Contact</a></h3>
    <h3><a href="/">Back</a></h3>
  </body>
</html>
